################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GlutProject/v17
/.vs/GlutProject/FileContentIndex/4082b82a-d852-4e1e-86e1-0ecb3a7fe6db.vsidx
